- content_for(:title, t('.title', item: @user.name))
= image_tag @user.fullcourse.fullcourse_image.url, class: 'd-block my-5 mx-auto img-fluid'
= render partial: 'fullcourse_menu', collection: @fullcourse_menus