html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: -100px;
  width: 100%;
  color: #494f56;
  .link {
    color: #494f56;
    text-decoration: none;
  }
  .link:hover {
    color: #202326;
    text-decoration: underline;
  }
}