#map {
  height: 600px;
  width: 100%;
}
$h: 300px;
$w: 460px;
#map0{
  height: $h;
  width: $w;
}
#map1{
  height: $h;
  width: $w;
}
#map2{
  height: $h;
  width: $w;
}
#map3{
  height: $h;
  width: $w;
}
#map4{
  height: $h;
  width: $w;
}
#map5{
  height: $h;
  width: $w;
}
#map6{
  height: $h;
  width: $w;
}
#map7{
  height: $h;
  width: $w;
}
.link {
  text-decoration: none;
  color: black;
}
#show_map{
  height: 200px;
  width: 100%;
}
.btn.genre-selecter {
  color: #76808c;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 12.5%;
  padding-top: 15px;
}
.btn.genre-selecter:hover{
  background-color:rgba(0,0,0,.12);
}
.btn.buttoncolor {
  color: #212529;
  border-bottom: thick solid #ef6a37;
}
