#map_0{
  height: 300px;
  width: 400px;
}
#map_1{
    height: 300px;
    width: 400px;
}
#map_2{
    height: 300px;
    width: 400px;
}
#map_2{
    height: 300px;
    width: 400px;
}
#map_4{
    height: 300px;
    width: 400px;
}
#map_5{
    height: 300px;
    width: 400px;
}
#map_6{
    height: 300px;
    width: 400px;
}
#map_7{
    height: 300px;
    width: 400px;
}
