#map {
  height: 400px;
  width: 100%;
}
$h: 300px;
$w: 460px;
#map0{
  height: $h;
  width: $w;
}
#map1{
  height: $h;
  width: $w;
}
#map2{
  height: $h;
  width: $w;
}
#map3{
  height: $h;
  width: $w;
}
#map4{
  height: $h;
  width: $w;
}
#map5{
  height: $h;
  width: $w;
}
#map6{
  height: $h;
  width: $w;
}
#map7{
  height: $h;
  width: $w;
}
.link {
  text-decoration: none;
  color: black;
}
#show_map{
  height: 200px;
  width: 300px;
}