.top-wrapper {
  background-image: image-url("top.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.description {
  color: #595260;
}
.card.how-to-use {
  background: rgba(255, 255, 255, 0.75);
}
.border-bottom-org {
  border-bottom: thick solid #1189cc;
}