javascript:
  function initMap(){
    geocoder = new google.maps.Geocoder()
    map = []
    marker = []
    window.onload = ()=> {
      let path = location.pathname
      for (var i = 0; i < 8; i++) {
        if (path == '/fullcourse_menus/new') {
          map[i] = new google.maps.Map(document.getElementById(`map${i}`), {
            center: {lat: 35.676192, lng: 139.650311},
            zoom: 12 
          });
        } else if (path == `/fullcourse_menus/${gon.user.id}/edit`) {
          map[i] = new google.maps.Map(document.getElementById(`map${i}`), {
            center: {lat: gon.lat[i], lng: gon.lng[i]},
            zoom: 12 
          });
          marker[i] = new google.maps.Marker({
            map: map[i],
            position: {lat: gon.lat[i], lng: gon.lng[i]}
          });
        }
      }    
    }
  }

  function codeAddress_0(){
    inputName = document.getElementById('name_0').value;
    geocoder.geocode( { 'address': inputName}, function(results, status) {
      if (status == 'OK') {
        map[0].setCenter(results[0].geometry.location);
        marker[0].setMap(null);
        marker[0] = new google.maps.Marker({
          map: map[0],
          position: results[0].geometry.location
        });
        address = document.getElementById("address_0");
        address.value = results[0].formatted_address;
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }

  function codeAddress_1(){
    inputName = document.getElementById('name_1').value;
    geocoder.geocode( { 'address': inputName}, function(results, status) {
      if (status == 'OK') {
        map[1].setCenter(results[0].geometry.location);
        marker[1].setMap(null);
        marker[1] = new google.maps.Marker({
          map: map[1],
          position: results[0].geometry.location
        });
        address = document.getElementById("address_1");
        address.value = results[0].formatted_address;
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }

  function codeAddress_2(){
    inputName = document.getElementById('name_2').value;
    geocoder.geocode( { 'address': inputName}, function(results, status) {
      if (status == 'OK') {
        map[2].setCenter(results[0].geometry.location);
        marker[2].setMap(null);
        marker[2] = new google.maps.Marker({
          map: map[2],
          position: results[0].geometry.location
        });
        address = document.getElementById("address_2");
        address.value = results[0].formatted_address;
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
  function codeAddress_3(){
    inputName = document.getElementById('name_3').value;
    geocoder.geocode( { 'address': inputName}, function(results, status) {
      if (status == 'OK') {
        map[3].setCenter(results[0].geometry.location);
        marker[3].setMap(null);
        marker[3] = new google.maps.Marker({
          map: map[3],
          position: results[0].geometry.location
        });
        address = document.getElementById("address_3");
        address.value = results[0].formatted_address;
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
  function codeAddress_4(){
    inputName = document.getElementById('name_4').value;
    geocoder.geocode( { 'address': inputName}, function(results, status) {
      if (status == 'OK') {
        map[4].setCenter(results[0].geometry.location);        
        marker[4].setMap(null);
        marker[4] = new google.maps.Marker({
          map: map[4],
          position: results[0].geometry.location
        });
        address = document.getElementById("address_4");
        address.value = results[0].formatted_address;
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
  function codeAddress_5(){
    inputName = document.getElementById('name_5').value;
    geocoder.geocode( { 'address': inputName}, function(results, status) {
      if (status == 'OK') {
        map[5].setCenter(results[0].geometry.location);
        marker[5].setMap(null);
        marker[5] = new google.maps.Marker({
          map: map[5],
          position: results[0].geometry.location
        });
        address = document.getElementById("address_5");
        address.value = results[0].formatted_address;
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
  function codeAddress_6(){
    inputName = document.getElementById('name_6').value;
    geocoder.geocode( { 'address': inputName}, function(results, status) {
      if (status == 'OK') {
        map[6].setCenter(results[0].geometry.location);
        marker[6].setMap(null);
        marker[6] = new google.maps.Marker({
          map: map[6],
          position: results[0].geometry.location
        });
        address = document.getElementById("address_6");
        address.value = results[0].formatted_address;
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
  function codeAddress_7(){
    inputName = document.getElementById('name_7').value;
    geocoder.geocode( { 'address': inputName}, function(results, status) {
      if (status == 'OK') {
        map[7].setCenter(results[0].geometry.location);
        marker[7].setMap(null);
        marker[7] = new google.maps.Marker({
          map: map[7],
          position: results[0].geometry.location
        });
        address = document.getElementById("address_7");
        address.value = results[0].formatted_address;
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }

script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap&libraries=places&v=weekly"